<div class="header">
  <nav class="container">
   	<ul class="nav nav-pills">
    	<% @menu.each do |item| %>
      	<li><a href="#"><%= item %></a></li>
      <% end %>
      <p class="navbar-text navbar-right"><%= @name %></p>
    </ul>
  </nav>
</div>

<div class="main">
	<div class="container">
  </div>
</div>

<div class="footer">
	<div class="container">
    <ul style="float: left">
      <li><a href="#"><img src="https://image.flaticon.com/icons/svg/179/179323.svg"/></a></li>
      <li><a href="#"><img src="https://image.flaticon.com/icons/svg/34/34227.svg"/</a></li>
      <li><a href="#"><img src="https://image.flaticon.com/icons/svg/8/8800.svg"/></a></li>
    </ul>
    <p style="float: right">&copy; Chris Tammes</p>
  </div>
</div>